@import 'node_modules/shower-ribbon/styles/screen.css';

.slide:after {
    right: 20px;

    background: none;
    color: #999;
}

.slide .pre-text {
    white-space: pre;
    line-height: 1;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 40px;
    color: #fff;
}

.slide h2.pre-text {
    font-weight: normal;
    font-size: 60px;
}

.slide li.pre-text:before {
    content: '';
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
